GitPython
Pillow
accelerate

blendmodes
clean-fid
diskcache
einops
facexlib
fastapi>=0.90.1
gradio==3.41.2
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch

piexif
protobuf==3.20.0
psutil
pytorch_lightning
requests
resize-right

safetensors
scikit-image>=0.19
tomesd
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
torchdiffeq
torchsde
transformers==4.30.2
xformers==0.0.27.post2
pillow-avif-plugin==1.4.3
